@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .special-underline {
    @apply from-blue-color-500 to-blue-color-500 dark:from-blue-color-dark-500 dark:to-blue-color-dark-500 bg-gradient-to-r
      bg-no-repeat [background-position:0_100%]
      [background-size:100%_0.2em]
      hover:[background-size:100%_100%] focus:[background-size:100%_100%]
      motion-safe:transition-all
      motion-safe:duration-200;
  }
  .company {
    box-shadow: inset 0 0 0 0 #007aff;
    color: #007aff;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .company:hover {
    box-shadow: inset 200px 0 0 0 #007aff;
    color: white;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(to right, #007aff, #007aff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(to right, #007aff, #007aff);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
